@import 'react-datepicker/dist/react-datepicker';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .material-symbols-rounded {
        font-variation-settings: 'FILL' 1,
        'wght' 400,
        'GRAD' 200,
        'opsz' 24
    }
}


@font-face {
    font-family: "Monserat";
    src: local("Monserat"), url("../fonts/Monserat-Regular.ttf") format("truetype");
}